In [16]:

a = input("Enter altitude:")
a = int(a)

if a <= 1000:
  print("Safe to land")
elif a <= 5000:
    print("Bring down to 1000")
else:
      print("Turn around")

Enter altitude:7000
Turn around

In [ ]:
#2nd program

In [48]:
for n in range(1,201):
  count = 0
  for i in range(2,(n//2+1)):
    if(n%i==0):
      count=count+1
      break
      
  if(count == 0 and n != 1):  
         print("%d" %n,end=',')

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113,127,131,137,139,149,151,157,163,167,173,179,181,191,193,197,199,