In [ ]:
#Armstrong program

In [ ]:
lower = 1042000
upper = 70268265

for num in range(lower,upper + 1):


  order = len(str(num))

  sum = 0

  temp = num
  while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10

  if num == sum:
    print(num)

1741725
4210818
9800817
9926315
24678050
24678051